body {
	max-width: 1440px;	 
	margin: 0 auto;  
	overflow-x: scroll;
}

button, a:hover {
	cursor: pointer;
	opacity: 0.9;
}

/*-------------------header-------------------*/

.header {	
	display: flex;
	justify-content: space-between;
	padding-bottom: 4.3%;
}

.header__title {
	display: flex;
    justify-content: space-between;
    width: 25%;
    padding-top: 6px;
    padding-left: 52px;
}

.header__logo {
	font: normal 500 30px/100px Montserrat;
	color: white;
	letter-spacing: 0.07em;
}

.header__language {
	font: normal 500 20px Montserrat;
	color: white;
	padding-top: 39px;
} 

.header__menu-icon {
	max-height: 92px;
	max-width: 92px;		
}

/*-------------------main-------------------*/

.main__content {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;	
}

.main, .header {	
	background: linear-gradient(to right, black 32%, white 32%);
}

.main__picture {
	padding-left: 20px;
}

.main__photo {
	width: 100%;
	max-width: 550px;	
	margin-right: 46px;	
}

.main__article {	
	max-width: 475px;
	margin-right: 20px;		
}

.main__title {
	font: normal bold 80px/82px Montserrat;	
    margin-bottom: 0;
	margin-top: 30px;
	padding-left: 10px;
}

.main__arrow-down {
	display: none;
}

.main__description {
	display: block;
	font: normal normal 15px/21px Montserrat;
	max-width: 467px;	
	margin-bottom: 35px;
	padding-left: 10px;	
}

.main__btn {
	font: normal 500 13px Montserrat;
	display: inline-block;
	background: white;
	border: 1.5px solid #000000;
	width: 42.8%;
    height: 44px;    
    margin-left: 6px;
    margin-right: 6%;
}

.main__btn:hover {
    background-color: #d3cfcf;
}


.main__link {
	font: normal 500 13px Montserrat;
	display: inline-block;
	color: black;
	text-decoration: none;
}	

.main__arrow {
	margin-left: 14px;
}

.main__footer {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 5.6% 3.7%;
}

.main__btn_scroll {
	background: white;
	border: none;	
	margin-right: 2.7%;
}

@media screen and (max-width: 768px) {
	body{		
		min-width: 319px;
		overflow-x: scroll;
	}

	.header__language, 
	.main__description, .main__btn, .main__link,
	.main__footer,
	.footer {
		display: none;
	}

	.main, .header {	
		background: white;
	}	

	.header {
		padding-bottom: 0;
	}

	.header__title {
		padding-top: 16px;
		padding-left: 26px;
	}

	.header__logo {
		font: normal 500 30px/37px Montserrat;;
		color: black;
		text-align: center;
		letter-spacing: 0.07em;
		margin-right: 0;
	}

	.header__menu-icon {
		width: 70px;
		height: 69px
	}

	/*-------------------main-------------------*/

	.main__content {		
		position: relative;		
	}

	.main__picture {
		width: 100%;
		padding-left: 0;
	}

	.main__photo {		
		height: 100%;
		max-width: 768px;
		margin-right: 0;
	}

	.main__article {
		width: 100%;
		max-width: 768px;
		display: flex;
		flex-direction: column;
		align-items: center;		
		position: absolute;
		bottom: 5%;
	}

	.main__title {
		font: normal bold 50px/51px Montserrat;	
		padding-left: 22px;
	}

	.main__arrow-down{
		display: block;
	}

@media (min-width:769px) and (max-width: 900px) {
	.main__title{
		font: normal bold 60px/62px Montserrat;
	}

	.main__description {
		font: normal normal 12px/18px Montserrat;
	}

	.main__btn, .main__link {
		font-size: 10px;
		width: 36%;
	}
}